# Dataset Overview

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!apt-get -y install openjdk-8-jre-headless
!pip install pyspark
!pip3 install findspark

import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.types import StringType,StructType,IntegerType,StructField

Reading package lists... Done
Building dependency tree
Reading state information... Done
The following package was automatically installed and is no longer required:
  libnvidia-common-460
Use 'apt autoremove' to remove it.
Suggested packages:
  libnss-mdns fonts-dejavu-extra fonts-ipafont-gothic fonts-ipafont-mincho
  fonts-wqy-microhei fonts-wqy-zenhei fonts-indic
The following NEW packages will be installed:
  openjdk-8-jre-headless
0 upgraded, 1 newly installed, 0 to remove and 45 not upgraded.
Need to get 28.2 MB of archives.
After this operation, 104 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 openjdk-8-jre-headless amd64 8u312-b07-0ubuntu1~18.04 [28.2 MB]
Fetched 28.2 MB in 3s (11.0 MB/s)
Selecting previously unselected package openjdk-8-jre-headless:amd64.
(Reading database ... 155632 files and directories currently installed.)
Preparing to unpack .../openjdk-8-jre-headless_8u312-b07-0ubuntu1~18.04_amd64.deb ...
Unpacking openjdk-8-jre-headless:amd64 (8u312-b07-0ubuntu1~18.04) ...
Setting up openjdk-8-jre-headless:amd64 (8u312-b07-0ubuntu1~18.04) ...
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/orbd to provide /usr/bin/orbd (orbd) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/servertool to provide /usr/bin/servertool (servertool) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/tnameserv to provide /usr/bin/tnameserv (tnameserv) in auto mode
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 36 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 29.0 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=4846d2e3b536022c54ecb7adaa2c005a75be12f37f8b6b689f2f966fb0444bd5
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting findspark
  Downloading findspark-2.0.1-py2.py3-none-any.whl (4.4 kB)
Installing collected packages: findspark
Successfully installed findspark-2.0.1

In [ ]:
import pandas as pd
# df = pd.read_csv('public.csv')
df = pd.read_csv('/content/drive/MyDrive/Colab_Notebooks/lab03/ccbda_hw5/public.csv')
df

,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,15565701,Ferri,698,Spain,Female,39,9,161993.89,1,0,0,90212.38,0
1,15565706,Akobundu,612,Spain,Male,35,1,0.00,1,1,1,83256.26,1
2,15565796,Docherty,745,Germany,Male,48,10,96048.55,1,1,0,74510.65,0
3,15565806,Toosey,532,France,Male,38,9,0.00,2,0,0,30583.95,0
4,15565878,Bates,631,Spain,Male,29,3,0.00,2,1,1,197963.46,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7995,15815628,Moysey,711,France,Female,37,8,113899.92,1,0,0,80215.20,0
7996,15815645,Akhtar,481,France,Male,37,8,152303.66,2,1,1,175082.20,0
7997,15815656,Hopkins,541,Germany,Female,39,9,100116.67,1,1,1,199808.10,1
7998,15815660,Mazzi,758,France,Female,34,1,154139.45,1,1,1,60728.89,0
7999,15815690,Akabueze,614,Spain,Female,40,3,113348.50,1,1,1,77789.01,0

# Use Pyspark to view dataset

In [ ]:
# These part is  for windows version, if you use ubuntu, remember to edit import pyspark part
# ----
import findspark
findspark.init()
findspark.find()
import pyspark
findspark.find()
# ----
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Churn_Modelling").getOrCreate()
df = spark.read.csv('/content/drive/MyDrive/Colab_Notebooks/lab03/ccbda_hw5/public.csv',header=True,inferSchema=True)
df.printSchema()

root
 |-- CustomerId: integer (nullable = true)
 |-- Surname: string (nullable = true)
 |-- CreditScore: integer (nullable = true)
 |-- Geography: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Tenure: integer (nullable = true)
 |-- Balance: double (nullable = true)
 |-- NumOfProducts: integer (nullable = true)
 |-- HasCrCard: integer (nullable = true)
 |-- IsActiveMember: integer (nullable = true)
 |-- EstimatedSalary: double (nullable = true)
 |-- Exited: integer (nullable = true)

# Do your work here

In [ ]:
from pyspark.ml import Pipeline
from pyspark.ml import PipelineModel
from pyspark.ml.feature import RFormula, MinMaxScaler
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.classification import LinearSVC, LogisticRegression, RandomForestClassifier

from functools import reduce  # For Python 3.x
from pyspark.sql import DataFrame

from sklearn import metrics
import numpy as np

In [ ]:
## Normalization
def normalize(df):
    print("Normalization...")
    #cols = ["CustomerId", "Surname", "CreditScore", "Geography", "Gender", "Age", "Tenure", "Balance", "NumOfProducts", "HasCrCard", "IsActiveMember", "EstimatedSalary", "Exited"]
    columns_to_scale = ["CreditScore", "Age", "Tenure", "Balance", "NumOfProducts", "HasCrCard", "IsActiveMember", "EstimatedSalary"]

    assemblers = [VectorAssembler(inputCols=[col], outputCol=col + "_vec") for col in columns_to_scale]
    scalers = [MinMaxScaler(inputCol=col + "_vec", outputCol=col + "_scaled") for col in columns_to_scale]

    pipeline = Pipeline(stages=assemblers + scalers)

    scaler_model = pipeline.fit(df)
    scaled_df = scaler_model.transform(df)

    return scaled_df

## Split 5 fold
def split_5_fold(df):
    def unionAll(dfs):
        return reduce(DataFrame.unionAll, dfs)
    
    print("Splitting 5-fold data...")

    folds = df.randomSplit([0.2, 0.2, 0.2, 0.2, 0.2])
    
    print(folds[0].count(), folds[1].count(), folds[2].count(), folds[3].count(), folds[4].count())
    
    train_folds, test_folds = [], []
    for idx in range(len(folds)):
        train = folds[:idx] + folds[idx + 1:]
        train_fold = unionAll(train)
        test_fold = folds[idx]
    
        train_folds.append(train_fold)
        test_folds.append(test_fold)
    
        print("Fold {}: {}, {}".format(idx, train_fold.count(), test_fold.count()))
    
    return train_folds, test_folds

## 5-fold vote
def vote(pred_5_fold):
    pred_5_fold = np.array(pred_5_fold).T.squeeze()
    #print(pred_5_fold)

    votes = []
    for pred in pred_5_fold:
        vote_pred = pred[np.argmax(pred)]
        votes.append(vote_pred)
    
    return votes

In [ ]:
scaled_df = normalize(df)
scaled_df.show()

Normalization...
+----------+--------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+---------------+-------+----------+-----------+-----------------+-------------+------------------+-------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----------------+---------------------+----------------------+
|CustomerId| Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|CreditScore_vec|Age_vec|Tenure_vec|Balance_vec|NumOfProducts_vec|HasCrCard_vec|IsActiveMember_vec|EstimatedSalary_vec|  CreditScore_scaled|          Age_scaled|       Tenure_scaled|      Balance_scaled|NumOfProducts_scaled|HasCrCard_scaled|IsActiveMember_scaled|EstimatedSalary_scaled|
+----------+--------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+---------------+-------+----------+-----------+-----------------+-------------+------------------+-------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----------------+---------------------+----------------------+
|  15565701|   Ferri|        698|    Spain|Female| 39|     9|161993.89|            1|        0|             0|       90212.38|     0|        [698.0]| [39.0]|     [9.0]|[161993.89]|            [1.0]|        [0.0]|             [0.0]|         [90212.38]|[0.6960000000000001]|[0.28378378378378...|               [0.9]|[0.6456561307421672]|               [0.0]|           [0.0]|                [0.0]|  [0.4510961138264434]|
|  15565706|Akobundu|        612|    Spain|  Male| 35|     1|      0.0|            1|        1|             1|       83256.26|     1|        [612.0]| [35.0]|     [1.0]|      [0.0]|            [1.0]|        [1.0]|             [1.0]|         [83256.26]|             [0.524]|[0.22972972972972...|               [0.1]|               [0.0]|               [0.0]|           [1.0]|                [1.0]|  [0.4163084101773582]|
|  15565796|Docherty|        745|  Germany|  Male| 48|    10| 96048.55|            1|        1|             0|       74510.65|     0|        [745.0]| [48.0]|    [10.0]| [96048.55]|            [1.0]|        [1.0]|             [0.0]|         [74510.65]|              [0.79]|[0.40540540540540...|               [1.0]|[0.38281897642186...|               [0.0]|           [1.0]|                [0.0]|  [0.3725714290858193]|
|  15565806|  Toosey|        532|   France|  Male| 38|     9|      0.0|            2|        0|             0|       30583.95|     0|        [532.0]| [38.0]|     [9.0]|      [0.0]|            [2.0]|        [0.0]|             [0.0]|         [30583.95]|             [0.364]|[0.2702702702702703]|               [0.9]|               [0.0]|[0.3333333333333333]|           [0.0]|                [0.0]|  [0.1528930707650502]|
|  15565878|   Bates|        631|    Spain|  Male| 29|     3|      0.0|            2|        1|             1|      197963.46|     0|        [631.0]| [29.0]|     [3.0]|      [0.0]|            [2.0]|        [1.0]|             [1.0]|        [197963.46]|             [0.562]|[0.14864864864864...|[0.30000000000000...|               [0.0]|[0.3333333333333333]|           [1.0]|                [1.0]|  [0.9899615501485404]|
|  15565879|   Riley|        845|   France|Female| 28|     9|      0.0|            2|        1|             1|       56185.98|     0|        [845.0]| [28.0]|     [9.0]|      [0.0]|            [2.0]|        [1.0]|             [1.0]|         [56185.98]|              [0.99]|[0.13513513513513...|               [0.9]|               [0.0]|[0.3333333333333333]|           [1.0]|                [1.0]|  [0.2809293657764916]|
|  15565996|  Arnold|        653|   France|  Male| 44|     8|      0.0|            2|        1|             1|      154639.72|     0|        [653.0]| [44.0]|     [8.0]|      [0.0]|            [2.0]|        [1.0]|             [1.0]|        [154639.72]|             [0.606]|[0.35135135135135...|               [0.8]|               [0.0]|[0.3333333333333333]|           [1.0]|                [1.0]|   [0.773298607575667]|
|  15566030|      Tu|        497|  Germany|  Male| 41|     5| 80542.81|            1|        0|             0|       88729.22|     1|        [497.0]| [41.0]|     [5.0]| [80542.81]|            [1.0]|        [0.0]|             [0.0]|         [88729.22]|             [0.294]|[0.31081081081081...|               [0.5]|[0.32101802767809...|               [0.0]|           [0.0]|                [0.0]|  [0.44367879921079...|
|  15566091| Thomsen|        545|    Spain|Female| 32|     4|      0.0|            1|        1|             0|        94739.2|     0|        [545.0]| [32.0]|     [4.0]|      [0.0]|            [1.0]|        [1.0]|             [0.0]|          [94739.2]|              [0.39]|[0.1891891891891892]|               [0.4]|               [0.0]|               [0.0]|           [1.0]|                [0.0]|  [0.4737348366536447]|
|  15566111|   Estes|        596|   France|  Male| 39|     9|      0.0|            1|        1|             0|       48963.59|     0|        [596.0]| [39.0]|     [9.0]|      [0.0]|            [1.0]|        [1.0]|             [0.0]|         [48963.59]|             [0.492]|[0.28378378378378...|               [0.9]|               [0.0]|               [0.0]|           [1.0]|                [0.0]|  [0.2448100402102109]|
|  15566139|   Ts'ui|        526|   France|Female| 37|     5| 53573.18|            1|        1|             0|       62830.97|     0|        [526.0]| [37.0]|     [5.0]| [53573.18]|            [1.0]|        [1.0]|             [0.0]|         [62830.97]|             [0.352]|[0.2567567567567568]|               [0.5]|[0.21352565896376...|               [0.0]|           [1.0]|                [0.0]|  [0.31416110169696...|
|  15566251| Ferrari|        618|   France|Female| 37|     5| 96652.86|            1|        1|             0|        98686.4|     1|        [618.0]| [37.0]|     [5.0]| [96652.86]|            [1.0]|        [1.0]|             [0.0]|          [98686.4]|             [0.536]|[0.2567567567567568]|               [0.5]|[0.38522756390851...|               [0.0]|           [1.0]|                [0.0]|  [0.49347486756795...|
|  15566253| Manning|        580|  Germany|  Male| 44|     9|143391.07|            1|        0|             0|      146891.07|     1|        [580.0]| [44.0]|     [9.0]|[143391.07]|            [1.0]|        [0.0]|             [0.0]|        [146891.07]|              [0.46]|[0.35135135135135...|               [0.9]|[0.5715112060039995]|               [0.0]|           [0.0]|                [0.0]|   [0.734547444588185]|
|  15566269|Chialuka|        787|   France|  Male| 25|     5|      0.0|            2|        1|             0|        47307.9|     0|        [787.0]| [25.0]|     [5.0]|      [0.0]|            [2.0]|        [1.0]|             [0.0]|          [47307.9]|             [0.874]|[0.0945945945945946]|               [0.5]|               [0.0]|[0.3333333333333333]|           [1.0]|                [0.0]|  [0.2365298994054586]|
|  15566295| Sanders|        761|   France|Female| 33|     6|138053.79|            2|        1|             0|      148779.41|     0|        [761.0]| [33.0]|     [6.0]|[138053.79]|            [2.0]|        [1.0]|             [0.0]|        [148779.41]|[0.8220000000000001]|[0.20270270270270...|[0.6000000000000001]|[0.5502385052034474]|[0.3333333333333333]|           [1.0]|                [0.0]|   [0.743991072977102]|
|  15566312|   Jolly|        660|    Spain|Female| 42|     5|      0.0|            3|        1|             1|      189016.24|     1|        [660.0]| [42.0]|     [5.0]|      [0.0]|            [3.0]|        [1.0]|             [1.0]|        [189016.24]|              [0.62]|[0.32432432432432...|               [0.5]|               [0.0]|[0.6666666666666666]|           [1.0]|                [1.0]|  [0.9452163131711496]|
|  15566378| Tillman|        515|   France|  Male| 48|     5|129387.94|            1|        0|             1|      147955.91|     1|        [515.0]| [48.0]|     [5.0]|[129387.94]|            [1.0]|        [0.0]|             [1.0]|        [147955.91]|              [0.33]|[0.40540540540540...|               [0.5]|[0.5156991828833771]|               [0.0]|           [0.0]|                [1.0]|   [0.739872732011877]|
|  15566380|   Drury|        586|    Spain|Female| 33|    10| 66948.67|            2|        1|             1|      140759.03|     0|        [586.0]| [33.0]|    [10.0]| [66948.67]|            [2.0]|        [1.0]|             [1.0]|        [140759.03]|[0.47200000000000...|[0.20270270270270...|               [1.0]|[0.2668361086367776]|[0.3333333333333333]|           [1.0]|                [1.0]|  [0.7038809824966259]|
|  15566467|  Hannah|        683|  Germany|Female| 32|     0| 138171.1|            2|        1|             1|      188203.58|     0|        [683.0]| [32.0]|     [0.0]| [138171.1]|            [2.0]|        [1.0]|             [1.0]|        [188203.58]|             [0.666]|[0.1891891891891892]|               [0.0]| [0.550706065558331]|[0.3333333333333333]|           [1.0]|                [1.0]|   [0.941152183275825]|
|  15566494|    Fang|        487|   France|  Male| 45|     2|      0.0|            2|        1|             0|       77475.73|     0|        [487.0]| [45.0]|     [2.0]|      [0.0]|            [2.0]|        [1.0]|             [0.0]|         [77475.73]|             [0.274]|[0.3648648648648649]|               [0.2]|               [0.0]|[0.3333333333333333]|           [1.0]|                [0.0]|  [0.38739985705080...|
+----------+--------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+---------------+-------+----------+-----------+-----------------+-------------+------------------+-------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----------------+---------------------+----------------------+
only showing top 20 rows

In [ ]:
train_folds, test_folds = split_5_fold(scaled_df)

Splitting 5-fold data...
1575 1605 1631 1590 1599
Fold 0: 6425, 1575
Fold 1: 6395, 1605
Fold 2: 6369, 1631
Fold 3: 6410, 1590
Fold 4: 6401, 1599

In [ ]:
## Train on 5-fold data
models = [] ## Save model of each fold
for model_idx in range(2, 3):
    print("-----Model {}-----".format(model_idx))
    for idx in range(len(train_folds)):
        print("Fold {}".format(idx))
        ## Create model
        if model_idx == 0:
            svm = LinearSVC(maxIter=5, regParam=0.01)
            classFormula = RFormula(formula="Exited ~ EstimatedSalary_scaled + IsActiveMember_scaled + HasCrCard_scaled + NumOfProducts_scaled + Balance_scaled + Tenure_scaled + Age_scaled + CreditScore_scaled")
            model = Pipeline(stages=[classFormula, svm]).fit(train_folds[idx])
        elif model_idx == 1:
            lr = LogisticRegression(maxIter=100, regParam=0.3)
            classFormula = RFormula(formula="Exited ~ EstimatedSalary_scaled + IsActiveMember_scaled + HasCrCard_scaled + NumOfProducts_scaled + Balance_scaled + Tenure_scaled + Age_scaled + CreditScore_scaled")
            model = Pipeline(stages=[classFormula, lr]).fit(train_folds[idx])
        elif model_idx == 2:
            rf = RandomForestClassifier(numTrees=100, maxDepth=5)
            classFormula = RFormula(formula="Exited ~ EstimatedSalary_scaled + IsActiveMember_scaled + HasCrCard_scaled + NumOfProducts_scaled + Balance_scaled + Tenure_scaled + Age_scaled + CreditScore_scaled")
            model = Pipeline(stages=[classFormula, rf]).fit(train_folds[idx])

        models.append(model)

-----Model 2-----
Fold 0
Fold 1
Fold 2
Fold 3
Fold 4

In [ ]:
## Test on 5-fold data
for test_fold_idx in range(len(test_folds)):
    print("-----Test on fold {}-----".format(test_fold_idx))
    preds_all = []
    for idx, model in enumerate(models):
        predictions = model.transform(test_folds[test_fold_idx])
        
        gt_array = np.array(predictions.select("label").collect())
        pr_array = np.array(predictions.select("prediction").collect())

        print("Model {}: {}".format(idx, metrics.f1_score(gt_array, pr_array, average='micro')))
        #print(metrics.accuracy_score(gt_array, pr_array))

        preds_all.append(pr_array)
    ## Voting
    votes = vote(preds_all)
    print("Voting : {}".format(metrics.f1_score(gt_array, votes, average='micro')))
    #print(metrics.accuracy_score(gt_array, votes))

-----Test on fold 0-----
Model 0: 0.8533333333333335
Model 1: 0.8596825396825397
Model 2: 0.8590476190476191
Model 3: 0.8584126984126985
Model 4: 0.8603174603174603
Voting : 0.8571428571428571
-----Test on fold 1-----
Model 0: 0.8454828660436137
Model 1: 0.8373831775700935
Model 2: 0.8442367601246106
Model 3: 0.8454828660436137
Model 4: 0.8461059190031153
Voting : 0.8436137071651092
-----Test on fold 2-----
Model 0: 0.8804414469650521
Model 1: 0.8761496014714899
Model 2: 0.8767627222562846
Model 3: 0.882280809319436
Model 4: 0.882280809319436
Voting : 0.8792152053954629
-----Test on fold 3-----
Model 0: 0.8433962264150944
Model 1: 0.8452830188679246
Model 2: 0.8415094339622642
Model 3: 0.8408805031446541
Model 4: 0.8415094339622642
Voting : 0.8427672955974843
-----Test on fold 4-----
Model 0: 0.8636647904940588
Model 1: 0.868042526579112
Model 2: 0.8655409631019386
Model 3: 0.8649155722326454
Model 4: 0.8599124452782989
Voting : 0.8630393996247655

# Public Evaluation Part

## Load private dataset, the same structure as public dataset

In [ ]:
df_private_evl = spark.read.csv('/content/drive/MyDrive/Colab_Notebooks/lab03/ccbda_hw5/public.csv',header=True,inferSchema=True)  # TA takes public dataset as example

## Do prediction with your PySpark model here (**Very Important**)
You must do prediction (inference) here.
Then TA will know how to run your ML model to test private data.

In [ ]:
scaled_df_private = normalize(df_private_evl)

Normalization...

In [ ]:
## Prediction
preds_all = []
for idx, model in enumerate(models):
    predictions = model.transform(scaled_df_private)
    
    gt_array = np.array(predictions.select("label").collect())
    pr_array = np.array(predictions.select("prediction").collect())

    print("Model {}: {}".format(idx, metrics.f1_score(gt_array, pr_array, average='micro')))
    #print(metrics.accuracy_score(gt_array, pr_array))

    preds_all.append(pr_array)
## Voting
votes = vote(preds_all)
print("Voting : {}".format(metrics.f1_score(gt_array, votes, average='micro')))
#print(metrics.accuracy_score(gt_array, votes))

Model 0: 0.857375
Model 1: 0.857375
Model 2: 0.8575
Model 3: 0.8585
Model 4: 0.858125
Voting : 0.85725

## Print Your result as the following type

In [ ]:
df_private_evl.select('CustomerId','Exited').show(5)

+----------+------+
|CustomerId|Exited|
+----------+------+
|  15565701|     0|
|  15565706|     1|
|  15565796|     0|
|  15565806|     0|
|  15565878|     0|
+----------+------+
only showing top 5 rows

## Calculate f-1 score

In [22]:
from sklearn import metrics
import numpy as np
data_array =  np.array(df_private_evl.select('Exited').collect())
data_pred = np.array(votes)
metrics.f1_score(data_array,data_pred)

0.5461049284578697

In [20]:
print(data_pred)

[0. 0. 1. ... 0. 0. 0.]

# ------------------------------------------------------------------------------------------------------
## Private Evaluation Part (TA will use this block to test your model)
Please

In [ ]:
df_private = spark.read.csv('private.csv',header=True,inferSchema=True)  # TA takes private dataset as example

## Do prediction with your PySpark model here

## TA will use the following function to get your prediction result (f-1 score)

In [ ]:
from sklearn import metrics
import numpy as np
data_array =  np.array(df_private.select('Exited').collect())

metrics.f1_score(data_array,data_array)

1.0